{% extends "base.html" %}
{% load static %}
{% block title %}Schedule a Transfer| Money Transfer System{% endblock %}

{% block content %}
<div class="min-h-screen bg-gray-100 py-10 px-4">
  <div class="max-w-xl mx-auto bg-white shadow-md rounded-2xl p-6">
    <h2 class="text-2xl font-bold text-gray-800 mb-6">Schedule a Transfer</h2>

    <form method="post" novalidate id="form">
      {% csrf_token %}
      {% if form.non_field_errors %}
      <div
        class="mb-4 p-4 rounded-xl bg-red-100 border border-red-300 text-red-700"
      >
        <ul class="list-disc pl-5 space-y-1 text-sm">
          {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <!-- Receiver username -->
      <div class="mb-4">
        <label
          for="id_receiver_username"
          class="block text-sm font-medium text-gray-700"
          >Receiver</label
        >
        {{ form.receiver_username }}
        {% if form.receiver_username.errors %}
        <p class="text-sm text-red-600">
          {{ form.receiver_username.errors.0 }}
        </p>
        {% endif %}
      </div>

      <!-- Amount -->
      <div class="mb-4">
        <label for="id_amount" class="block text-sm font-medium text-gray-700"
          >Amount</label
        >
        {{ form.amount }}
        {% if form.amount.errors %}
        <p class="text-sm text-red-600">{{ form.amount.errors.0 }}</p>
        {% endif %}
      </div>

      <!-- Scheduled Date & Time -->
      <div class="mb-4">
        <label
          for="id_scheduled"
          class="block text-sm font-medium text-gray-700"
          >Schedule for</label
        >
        {{ form.scheduled }}
        {% if form.scheduled.errors %}
        <p class="text-sm text-red-600">{{ form.scheduled.errors.0 }}</p>
        {% endif %}
      </div>

      <!-- Event -->
      <div class="mb-6">
        <label for="id_event" class="block text-sm font-medium text-gray-700"
          >Reason</label
        >
        {{ form.event }}
        {% if form.event.errors %}
        <p class="text-sm text-red-600">{{ form.event.errors.0 }}</p>
        {% endif %}
      </div>

      <!-- Submit button -->
      <button
        type="submit"
        class="w-full bg-yellow-500 hover:bg-yellow-600 text-white font-semibold py-2 px-4 rounded-xl"
      >
        Schedule Transfer
      </button>

    </form>
  </div>
</div>
<script>
  document.querySelector('#form').addEventListener('submit', function(e) {
    const input = document.getElementById('local_datetime');
    const localDate = new Date(input.value);
    const utcDate = new Date(localDate.getTime() - localDate.getTimezoneOffset());
    const formattedUtcDate = utcDate.toISOString().slice(0, 19);
    input.value = formattedUtcDate;
});
</script>
{% endblock %}
